// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-fluid{
    background-color: #e6e6e6;
    padding: 0px !important;
}
.container{
    width: 1200px;
    background-color: #fff;
    // height: 100%;
}

#main{
  a{
    color: #fff;
  }
  .btn-more a{
    color: #000;
  }
}
.random-block{
    
    width: 1200px !Important;
}
h1{
    text-align: center;
    width: 100%;
    margin-top: 0px -15px 0px -15 !important;
  
    padding: 10px;
    padding-top: 10px;
    background-color: #2765af;
    color: #fff !Important;
}

.front-image img{
    padding: 10px;
}
.button{
    
    padding: 0px 12px!important;
    margin: 10px;
    width: 100%;
    // height:50px;
}
.news_b{
    display: none;
    // display:inline-flex;
    width: 100% !important;
    height: 40px;
    
    
}
.row{
    width: 100%;
    // margin-left: 50px !important;
    // display: inline-flex;
}
.button a{
    
    font-size: 16px;
    color: #fff;
    display: block;
    
}
.news_b a{
    font-size: 20px;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.button a:hover{
    text-decoration: none;
    color: orange;
}

.hide-block{
    // display: none;
}

.col-md-2{
    
    // display: table;
}
.news-block{
    border-radius: 0 8px;
    background-color: #fff;
    padding: 0px !important;
    margin: 0px;
    // border: 1px solid grey;
    width: 185px !important;
    // height: 295px;
    height: auto;
}
.col-md-2+.col-md-2{
    
    margin-left: 10px;
}

.row+.row{
    // margin-top: 20px;
}
.col-md-2:hover{
    background-color: #ECECEC;
    cursor: pointer;
}
.col-md-2:hover .btn-more a{
    // color: #fff;
}
#header h1{
  background-color: #993366;
}
.btn{
    border-radius: 0 8px!important;
    background-color: #ececec;
    color: #000;
    height: 35px;
    margin: 0px;
    padding: 0px;
    margin: 0px;
    width: 214px;
    a{
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: block;
    color: #000;
    }
    a:hover{
    color: #fff;
    }
}
.second {
    .hide-block .btn a{
      color: #fff;
    }
    .btn a{
      color: #fff;    }
    .btn-more{
              width: 210px;
              float: left;
              a {
                    color: #000;
                }
            }
    .random-block{
        margin-left: 20px;
        .col-md-2{
            width: 205px !important;
            .btn-more{
                width: 204px !important;
            }
            .btn-more a{
                color: #000;
            }
            .btn a{
              color: #fff;
            }
        }
        .col-md-1{
            // display:none;
        }
        .col-xs-1{
            display:none;
        }
        .col-xs-5{
            // width: 41.6%;
            // display:none;
        }
        .col-xs-5+.col-xs-5{
        
            margin-left: 10px;
        }
        .col-md-2+.col-md-2{
        
            margin-left: 20px;
        }
    }
    .random-block .row{
        width: 100%;
        background-color: transparent!important;
    }
}
.btn-more{
    border-radius: 0 8px!important;
    
    background-color: #ececec;
    height: 35px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    a{
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: block;
    color: #fff;
    }
    a:hover{
    color: #fff;
    }
    // border-top: 1px solid grey !important; 
    // border-bottom: 1px solid grey !important; 
    
}

.btn-more:hover{
    background-color: #2765af;
    color: #fff;
}
.col-md-2 img{
    cursor: pointer;
    height: 150px;
    width: 150px;
    margin-top: 0px;
}
p.front-post{
    padding: 10px;
    height: 100px;
}
.second{
    .container{
        // height: 100%;
        background-color: #e6e6e6;
    }
    .container .row{
        background-color: #fff;
    }
    .button{
        
        // background-color: #2765AF;
    }
    
    .button:hover {
        background-color: #2765AF;
        color: #fff;
        
    }
    .button a:hover{
        color: #fff;
    
    }
    // .cont-flex{
    // display: flex;
    
    // }
    .top-row{
            .button{
                // background-color: #2765af;
                a {
                    color: #fff;
                }
            }
            .btn-more{
              width: 110px;
              float: left;
              a {
                    color: #000;
                }
            }
            .button:hover{
                border: 1px solid #2765af;
                background-color: #fff;
                a {
                    color: #2765af;
                }
            }
            border-radius: 0 8px;
            padding: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
            p{
            margin: 10px;
            }
            //   display: flex-item;
            //   flex-flow: row;
            //   justify-content: center;
    }
    .top-item{
        // display: flex-item;
        width: 33%;
    }
    #post_content{
        float: left;
        border-radius: 0 8px;
        h2{
            background-color: #fff;
            color: #2765af;
            font-weight: bold;
        }
        padding: 10px;
        text-align: center;
        width: 448px;
        p{
            margin: 10px;
        }
        img{
            height: 435px;
            width: 435px;
            margin: 5px;
        }
        .button{
            width: 100%;
        }
      
    }
    .side-col{
        float:left;
        border-radius: 0 8px;
        width: 467px;
        float: right;
        .btn-more{
          width: 150px;
        }
        p{
            margin: 10px;
        }
        img{
            height: 112px;
            width: 112px;
            float: left; 
            margin: 0px 10px 10px 0px;
        }
    }
    
    
    .pic-col{
        float:left;
        border-radius: 0 8px;
        width: 220px;
        p{
            margin: 20px;
        }
        img{
            margin: 10px;
            height: 175px;
            width: 175px;
        }
    }

    .top-row img{
        height: 112px;
        width: 112px;
        float: left; 
        margin: 0px 10px 10px 0px;
    }
    .top-col{
        float: left; 
        margin: 0px 10px 10px 0px;
    }
}
@media (max-width: 990px){
    .side-col{
        display: none;
    }
}
